body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

.nav {
  display: flex;
  float: right;
}

.sign-in-button,
.register-button {
  width: 80px;
  padding: 7px;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  border-radius: 7px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.register-button {
  background-color: #2371df;
  color: white;
}

#title {
  color: #3b7ef8;
}

#sec1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/2-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;  
  color: white;
}

.site-discrip {
    padding: 75px;
    margin-left: 100px;
}

h1 {
    font-size: 50px;
    line-height: 1;
}