body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

.nav {
  display: flex;
}

/* applying hover effects to buttons */
  .sign-in-button:hover {
    background-color: rgba(0, 0, 0, 0.1)
  }
  .register-button:hover {
    background-color:  #336fc0;
  }
 


.sign-in-button,
.register-button {
  width: 80px;
  padding: 7px;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  border-radius: 7px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.register-button {
  background-color: #2371df;
  color: white;
  
}


#title {
  color: #3b7ef8;
}

#sec1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/2-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;  
  color: white;
}

.site-discrip {
    padding: 75px;
    margin-left: 100px;
}

#sec1-title {
    font-size: 50px;
    line-height: 1;
}

.shop-now {
  width: 95px;
  padding: 8px;
  cursor: pointer;
  background-color: #2371df;
  border-radius:5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  border: 0;
}

.shop-now:hover {
  background-color:rgb(56, 105, 173);
}

.shop-now:active {
  border: 1px solid white;

}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sec2{
  display: flex;
  width: 85%;
  margin: 50px;
  position: relative;
 
}

.sec2-img-detail {
  position: relative;
  height: 440px;
  width: 25%;
  background-color: rgb(188, 185, 185);
  border-radius: 0px 30px 0px 30px;
}

.sec2-img {
  background: url(../assets/fashionable-girl-posing-white-sweater-tweed-jacket-one-shoulder-grey.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 440px;
  width: 23%;
  border-radius: 60px 30px 45px 30px;
  margin-right: 70px;
  position: absolute;
  top: 30px;
  left: 80px;
}


.sec2-description {
  width: 60%;
  margin-left: 150px;
  margin-top: 30px;
}

#sec3 {
  display: flex;
  width: 85%;
  margin: 50px 0 50px 0;
}

.galley-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
}

.gallery-item {
  width: 316.8px;
  height: 350px;
  margin-bottom: 20px;
  font-size: 13px;
}

h4 {
  color: #3198ff;
}

.gallery-item-img1 {
  background: url(../assets/gallery-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
}

.gallery-item-img2 {
  background: url(../assets/gallery-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
}

.gallery-item-img3 {
  background: url(../assets/gallery-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
}

.gallery-item-img4 {
  background: url(../assets/gallery-4.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
}

.gallery-item-img5 {
  background: url(../assets/gallery-5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
}

.gallery-item-img6 {
  background: url(../assets/gallery-6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
}

.gallery-item-img7 {
  background: url(../assets/gallery-7.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
}

.gallery-item-img8 {
  background: url(../assets/gallery-8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
}

.gallery-img-cap {
  color: #969696;
}

#sec4 {
  background: linear-gradient(to bottom,rgb(232, 244, 255), #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:1200px;
  position: relative;
}

.review-sec {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 85%;
}

.review-hdr {
  text-align: center;
  width: 100%;
  margin: 10px
}

#review-hdr-title {
  font-size: 28px;
  margin-bottom: 1px;
}

#review-hdr-cap {
  color:rgb(147, 147, 147);
  font-size: 13px;
  margin: 0;
}

.review-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 0px 0px 0px;
}

.review-item {
  display: flex;
  width: 300px;
  height: 275px;
  background: white;
  border-radius: 15px;
  padding: 10px;
  position: relative;
}

.top-quote {
  position: absolute;
  top: -13px;
  left: 85%;
  background: url(../assets/quote-right.png);
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
}

.bottom-quote {
  position: absolute;
  bottom: -13px;
  right: 85%;
  background: url(../assets/quote-left.png);
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
}

.client-img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 10px;
}

#client-img1 {
  background: url(../assets/profile-img-1.jpg);
  background-size: cover;
  background-position: center;
}

#client-img2 {
  background: url(../assets/profile-img-2.jpg);
  background-size: cover;
  background-position: center;
}

#client-img3 {
  background: url(../assets/profile-img-3.jpg);
  background-size: cover;
  background-position: center;
}

.client-review {
  width: 65%;
  font-size: 14px;
}

.fa {
  color: #fcc419;
}

.Contact-sec {
  display: flex;
  align-items: center;
  width: 85%;
  height: 550px;
  margin-top: 95px;
  border-radius: 20px;
  background: white;
  box-shadow: 1px 1px 5px rgb(204, 201, 201);
}

.contact-details-box {
  height: 450px;
  width: 330px;
  background:rgb(15, 118, 221);
  border-radius: 20px;
  margin: 20px;
  color: white;
  padding: 20px;
}

#contact-box-title, #contact-box-cap {
  margin-left: 15px;
}

#contact-box-cap {
  margin-bottom: -15px;
  margin-top: 25px;
}

#contact-box-title {
  font-size: 30px;
}

.contact-details {
  display: felx; 
  flex-direction: column;
  margin-left: 20px;
}

.contact-details-item {
  display: flex;
  align-items: center;
}

.contact-details-icon {
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  align-items: center;
  color: white;
}

.ra {
  color: white;
  font-size: 20px;
}

.contact-details-text {
  padding-left: 10px;
}

.contact-details-cap {
  margin-top: -15px;
  font-size: 13px;
}

.contact-form {
  width: 60%;
  height: 475px;
  margin-left: 25px; 
}

form {
  display: felx;
  flex-wrap: wrap;
}

.contact-form input {
  height: 50px;
  width: 48%;
  margin: 40px auto;
  border: 0;
  border-bottom: 2px solid #c0c0c0;
}

/* .msg {
  width: 10px;
} */

input:hover {
  border-bottom: 2px solid grey;
}

.submit-form {
  background:rgb(23, 106, 222);
  color: white;
  padding: 7px 17px 7px 17px;
  border: 0;
  border-radius: 5px;
}

.submit-form:hover {
  background: rgb(0, 84, 201);
}

.submit-form:active {
  border: 1px solid grey;
}

footer {
  display: flex;
  flex-direction: column;
  background: white;  /* Ensures shadow visibility */
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.2);
  position: relative;  /* Helps avoid overlap issues */
}


.footer-sec1 {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 40px;
  
}


#footer-left-title {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

#credit-text, #footer-left-cap {
  font-size: 12px;
  line-height: 14px;
}

#credit-text {
  color: grey;
}

.footer-right-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

}

.footer-right-items {
  width: 200px;
  height: 175px;
  font-size: 12px;
}

.footer-items-title {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 6px;
}

.no-button {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: grey;
}

.footer-sec2 {
  text-align: center;
  font-size: 11px;
  color: grey;
  margin-bottom: 20px;
}